.Links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14;
}

.Links li{
  padding: 5px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  width: 800px;
  display: flex;
  justify-content: center;

}

