/* Estilos para los enlaces como botones */
.Links {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra horizontalmente los elementos */
  list-style: none; /* Quita el punto de la lista */
  padding: 0; /* Elimina el relleno predeterminado de la lista */
}

.Links li {
  margin: 1cm 3cm; /* Espacio de 1 cm arriba y a los lados de cada enlace */
}

.Links a {
  display: inline-block;
  padding: 15px 30px;
  font-weight: bold;
  color: #fff; /* Color de texto blanco */
  text-align: center;
  text-decoration: none;
  background-color: #0077B6; /* Color de fondo azul */
  border-radius: 10px; /* Bordes redondeados */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Efecto de transición suave */
}






